{% extends 'base.html' %}
{% block content %}
<h1>Добавить товар</h1>
    <form action="{% url 'deleteProduct' product.pk %}" id="delete" method="post">{% csrf_token %}</form>



    <form action="{% url 'ChangeProduct' product.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="row">
    <div class="col-sm">
          <p>
    <label for="id_name">Название:</label>
    <input type="text" name="name" maxlength="50" required id="id_name" class="form-control"value="{{ product.name }}">


  </p>
    </div>
    <div class="col-sm">
      <p>
    <label for="id_category">Категория:</label>
    <select name="category" id="id_category" class="form-control">
        {% for category in categorys %}

            <option value="{{ category }}" {% if product.category == category %}selected{% endif %}>{{ category }}</option>

        {% endfor %}
    </select>
  </p>
    </div>
    <div class="col-sm">
     <p>
    <label for="id_price">Цена:</label>
    <input type="number" name="price" min="0" required id="id_price" class="form-control" value="{{ product.price }}">
  </p>
    </div>
</div>
<div class="row">
    <div class="col-sm">
          <p>
    <label for="id_manufacturer">Производитель:</label>
    <input type="text" name="manufacturer" maxlength="50" required id="id_manufacturer" class="form-control"value="{{ product.manufacturer }}">


  </p>
    </div>
    <div class="col-sm">
          <p>
    <label for="id_count">Количество:</label>
    <input type="number" name="count" min="0" required id="id_count" class="form-control"value="{{ product.count }}">


  </p>
    </div>
    <div class="col-sm">
   <p>
         <a href="{{product.img.url}}">{{ product.img.url }}</a><br>
      <input type="file" name="img" accept="image/*" id="id_img" class="form-control"><br>

  <p>
    </div>

    <label for="id_discription">Описание:</label>
    <textarea name="discription" cols="40" rows="10" required id="id_discription" class="form-control">{{ product.discription }}
</textarea>


  </p>
</div>

  </p>

        <input type="submit" value="Добавить" class="btn btn-success">
        <button form="delete" type="submit"  class="btn btn-danger">Удалить</button>




    </form>




{% endblock %}